<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>新建合同</title>
<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
<script type="text/html" id="fileT">
	<button type="button" class="layui-btn layui-btn-normal layui-btn-lg">
		<a href="javascript:download('${fileName}')">
			${originalName}
		</a>
		<a href="javascript:deleteFile()">
			<i class="layui-icon layui-unselect layui-tab-close" data-id="1">ဆ</i>
		</a>
	</button>
</script>

<script type="text/html" id="hkT">
	<div class="layui-form-item" style="padding-left: 110px;padding-top:10px;">
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="createtime" placeholder="（人民币）/元">
		</div>
		<div class="layui-input-inline"  style="width: 400px;">
			<input type="text" class="layui-input" id="createtime" placeholder="回款说明">
		</div>
		<div class="layui-input-inline">
			<input type="radio" name="{pay}" value="未支付" title="未支付" checked="checked">
     		<input type="radio" name="{pay}" value="已支付" title="已支付">
		</div>
	</div>
</script>
<style type="text/css">
body {
	overflow-y: scroll;
}
</style>
</head>
<body style="padding-left: 10px; padding-right: 10px;">
	
	<div class="layui-tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">基础信息</li>
	    <li>付款节点</li>
	    <li>补充协议</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<!-- tab1 -->
	    <div class="layui-tab-item layui-show">
	    	<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 30px;border-color: #009688">
				<legend>基本信息</legend>
			</fieldset>
		
			<form class="layui-form" id="contractForm" enctype="multipart/form-data" >
				<div class="layui-form-item">
					<label class="layui-form-label">合同名称</label>
					<div class="layui-input-block">
						<input type="text" id="name" name="name" autocomplete="off"
							placeholder="请输入合同名称" class="layui-input" lay-verify="required" value="#(contract.name ??)">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">对接人</label>
					<div class="layui-form-item" style="padding-left: 50px;">
						<label class="layui-form-label">姓名</label>
						<div class="layui-input-inline">
							<input type="text" id="contactName" value="#(contract.contactName ??)" name="contactName" autocomplete="off"
								placeholder="请输入姓名" class="layui-input" lay-verify="required">
						</div>
						<label class="layui-form-label">部门</label>
						<div class="layui-input-inline">
							<input type="text" id="contactDep" name="contactDep" value="#(contract.contactDep ??)" autocomplete="off"
								placeholder="请输入部门" class="layui-input" lay-verify="required">
						</div>
					</div>
		
					<div class="layui-form-item" style="padding-left: 50px;">
						<label class="layui-form-label">电话</label>
						<div class="layui-input-inline">
							<input type="text" id="contactPhone" name="contactPhone" value="#(contract.contactPhone ??)" autocomplete="off"
								placeholder="请输入电话" class="layui-input" lay-verify="required">
						</div>
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-inline">
							<input type="text" id="contactEmail" name="contactEmail" value="#(contract.contactEmail ??)" autocomplete="off"
								placeholder="请输入邮箱" class="layui-input" lay-verify="required">
						</div>
					</div>
		
					<div class="layui-form-item" style="padding-left: 50px;">
						<label class="layui-form-label">微信</label>
						<div class="layui-input-inline">
							<input type="text" id="contactWechat" name="contactWechat" value="#(contract.contactWechat ??)" autocomplete="off"
								placeholder="请输入微信" class="layui-input" lay-verify="required">
						</div>
						<label class="layui-form-label">备注</label>
						<div class="layui-input-inline">
							<input type="text" id="contactRemark" name="contactRemark" value="#(contract.contactRemark ??)" autocomplete="off"
								placeholder="请输入备注" class="layui-input" lay-verify="required">
						</div>
					</div>
				</div>
		
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>合同信息</legend>
				</fieldset>
		
				<div class="layui-form-item">
					<label class="layui-form-label">合同金额</label>
					<div class="layui-input-inline">
						<input type="text" id="amount" name="amount" value="#(contract.amount ??)" autocomplete="off"
							placeholder="请输入合同金额" class="layui-input" lay-verify="required">
					</div>
					<label class="layui-form-label">签署时间</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="signTime" name="signTime" value="#(df.dateFormat(contract.signTime ??))">
					</div>
				</div>
		
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">现金到账合计</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="account" name="account" value="#(contract.account ??)" placeholder="（人民币）/元">
					</div>
					<label class="layui-form-label" style="width: 100px;">应收账款合计</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="receivable" name="receivable" value="#(contract.receivable ??)" placeholder="（人民币）/元">
					</div>
				</div>
				
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>合同金额明细</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<label class="layui-form-label">报价金额</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="quotedPrice" name="quotedPrice"  value="#(contract.quotedPrice ??)" placeholder="（人民币）/元">
					</div>
					
					<label class="layui-form-label">折扣后金额</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="discountPrice" name="discountPrice" value="#(contract.discountPrice ??)" placeholder="（人民币）/元">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">项目管理</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="managePrice"  name="managePrice" value="#(contract.managePrice ??)" placeholder="（人民币）/元">
					</div>
					
					<label class="layui-form-label">设计实施</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="designPrice" name="designPrice" value="#(contract.designPrice ??)" placeholder="（人民币）/元">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">技术实施</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="technicalPrice" name="technicalPrice" value="#(contract.technicalPrice ??)" placeholder="（人民币）/元">
					</div>
					
					<label class="layui-form-label">其他</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="otherPrice" name="otherPrice" value="#(contract.otherPrice ??)" placeholder="（人民币）/元">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">中文版小计</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="zhSubtotal" name="zhSubtotal" value="#(contract.zhSubtotal ??)" placeholder="（人民币）/元">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">英文版小计</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="enSubtotal" name="enSubtotal" value="#(contract.enSubtotal ??)" placeholder="（人民币）/元">
					</div>
					
					<label class="layui-form-label" style="width: 120px;">为中文版本比例</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="percentage" name="percentage" value="#(contract.percentage ??)" placeholder="请输入百分比">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">税费</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="taxation" name="taxation" value="#(contract.taxation ??)" placeholder="（人民币）/元">
					</div>
				</div>
				
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>上传文件</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<div class="layui-form-item" id="fileL" style="line-height: 50px;"> 
						<!-- 用于回显上传文件 -->
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline layui-upload">
							<button type="button" class="layui-btn" id="upload"><i class="layui-icon"></i>选择文件</button> 
						</div>
					</div>
				</div>
				
				<div class="layui-form-item" style="margin-left: 350px;margin-top: 30px;margin-bottom: 50px">
					<div class="layui-input-block">
						<button class="layui-btn" id="save" lay-submit="" lay-filter="save">提交</button>
						<button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
				
			</form>
	    </div>
	    <!-- tab2 -->
	    <div class="layui-tab-item" id="tab2">
	    	<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 30px;border-color: #009688">
				<legend>付款节点管理</legend>
			</fieldset>
			
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px">支付节点</label>
				<button class="layui-btn layui-btn-small layui-btn-warm" id="addPay" >
				  <i class="layui-icon">&#xe654;</i>添加
				</button>
			</div>
			<table id="Paytable" class="layui-table" lay-filter="test"></table>
	    </div>
	    
	    
	     <!-- tab3 -->
	    <div class="layui-tab-item">
	    	<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 30px;border-color: #009688">
				<legend>补充协议</legend>
			</fieldset>
			
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px">补充协议</label>
				<button class="layui-btn layui-btn-small layui-btn-warm" id="addXy" >
				  <i class="layui-icon">&#xe654;</i>添加
				</button>
			</div>
			<table id="Extratable" class="layui-table" lay-filter="test"></table>
	    </div>
	  </div>
	</div>
	


	<!-- 添加支付节点弹框 -->
	<div id="payBox" style="display: none;padding: 20px;">
		<form class="layui-form" id="payForm">
			<div class="layui-form-item">
				<label class="layui-form-label">回款金额</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="Payamount" name="amount" placeholder="（人民币）/元">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">回款说明</label>
				<div class="layui-input-block">
					<input type="text" placeholder="请输入说明" class="layui-input" lay-verify="required" id="explain" name="explain">
				</div>
			</div>	
			<div class="layui-form-item">
				<label class="layui-form-label">是否支付</label>
				<div class="layui-input-block">
					<input type="radio" name="isPay" value="0" title="未支付" checked="checked">
	      			<input type="radio" name="isPay" value="1" title="已支付">
				</div>
			</div>
			<div class="layui-form-item" style="margin-top: 30px;">
				<div class="layui-input-block">
					<input type="hidden" id="PaycontractId" name="contractId"/>
					<button class="layui-btn" id="saveBt" lay-submit="" lay-filter="Paysave">提交</button>
					<button type="reset" id="Payreset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
	
	
	<!-- 添加补充协议弹框 -->
	<div id="xyBox" style="display: none;padding: 20px;">
		<form class="layui-form" id="ExtraForm" enctype="multipart/form-data">
			<div class="layui-form-item">
				<label class="layui-form-label">报价金额</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EquotedPrice" name="quotedPrice" placeholder="（人民币）/元">
				</div>
				
				<label class="layui-form-label">折扣后金额</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EdiscountPrice" name="discountPrice" placeholder="（人民币）/元">
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">项目管理</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EmanagePrice" name="managePrice" placeholder="（人民币）/元">
				</div>
				
				<label class="layui-form-label">设计实施</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EdesignPrice" name="designPrice" placeholder="（人民币）/元">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">技术实施</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EtechnicalPrice" name="technicalPrice" placeholder="（人民币）/元">
				</div>
				
				<label class="layui-form-label">其他</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="EotherPrice" name="otherPrice" placeholder="（人民币）/元">
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-left: 110px;">
				<button type="button" class="layui-btn" id="xyFile"><i class="layui-icon"></i>选择文件</button> 
			</div>
			
			<div class="layui-form-item layui-form-text" style="margin-top: 30px;">
				<label class="layui-form-label">补充说明</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入补充协议内容说明" class="layui-textarea" name="remark"></textarea>
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-top: 50px;margin-left: 150px;">
				<div class="layui-input-block">
					<input type="hidden" id="EcontractId" name="contractId"/>
					<button class="layui-btn" id="saveBt" lay-submit="" lay-filter="Extrasave">提交</button>
					<button type="reset" id="Extrareset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript">
var $,form,table,layer,laydate,upload,element;
// 创建时间
var createTime;
// 合同ID
var contractId;
// 弹框索引
var index;
var payUrl = "/contract/pays";
var extraUrl = "/contract/extras";
layui.use(['laydate','table','layer','form','upload','element'],function(){
	form = layui.form;
	$ = layui.$;
	//引入弹出层控件
	layer = layui.layer;
	upload = layui.upload;
	element = layui.element;
	// 引用时间插件
	laydate = layui.laydate;
	laydate.render({
	    elem: '#signTime' //指定元素
	});
	
	
	contractId = '#(contract.id ??)';
	
	if(contractId != null && contractId != ""){
		payUrl += "?contractId=" + contractId;
		extraUrl += "?contractId=" + contractId;
	}
	
	
	
	// 保存合同
	form.on('submit(save)', function (data) {
		if(contractId != null && contractId !='' && '#(contract.id ??)' ==""){
			layer.alert('不能重复提交', {icon: 2});
			return false;
		} else {
			var formData = new FormData($("#contractForm")[0]); 
			$.ajax({
				type : "post",
				url : "/contract/synch",
				data:formData,
				dataType : "json",
				processData:false,
		        contentType:false,
				success : function(data) {
					if(data.code == 200){
						contractId = data.data.id;
						$("#PaycontractId").val(contractId);
						$("#EcontractId").val(contractId);
						layer.alert('保存成功', {icon: 1});
						$(".layui-tab-item").removeClass("layui-show");
						$("#tab2").addClass("layui-show");
						$(".layui-tab-title").find("li").removeClass("layui-this");
						$(".layui-tab-title").find("li").eq(1).addClass("layui-this");
					} else {
						layer.msg(data.message, {time: 5000,shift :6});
					}
				}
			}); 
			
			return false;
		}
	});
	
	
	form.on('submit(Paysave)', function (data) {
		if(contractId != null && contractId !=''){
			$.ajax({
				type : "post",
				url : "/contract/pay/synch",
				data:$("#payForm").serialize(),
				dataType : "json",
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#Payreset").click();
						table.reload('payList', {
							where : {
								contractId : contractId,
							}
						});
					} else {
						layer.msg(data.message, {time: 5000,shift :6});
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	
	
	
	form.on('submit(Extrasave)', function (data) {
		if(contractId != null && contractId !=''){
			var formData = new FormData($("#ExtraForm")[0]); 
			$.ajax({
				type : "post",
				url : "/contract/extra/synch",
				data:formData,
				dataType : "json",
				processData:false,
		        contentType:false,
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#Extrareset").click();
						table.reload('ExtraList', {
							where : {
								contractId : contractId,
							}
						});
					} else {
						layer.msg(data.message, {time: 5000,shift :6});
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	
	upload.render({
	    elem: '#upload'
	    ,accept: 'file' //普通文件
	   	,auto: false
	   	,multiple: true
	   	,url : "/contract/synch"
	 });
	
	
	
	//引入表格
	table = layui.table;
	table.render({
		elem:'#Paytable',
		url:payUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'4%'},
			{field:'id',title:'ID', width:'5%',align:'center'},
			{field:'amount',title:'金额', width:'10%',align:'center'},
			{field:'explain',title:'回款说明',align:'center', width:'36%'},
			{field:'isPay',title:'是否支付',align:'center',templet:'<div>{{d.isPay===1?"已支付":"未支付"}}</div>', width:'35%'},
			{field:'is_lock',title:'操作',templet:'#lockT', width:'10%',align:'center'}
		]],
		page:true,
		id:'payList'
	});
	
	
	//引入表格
	table.render({
		elem:'#Extratable',
		url:extraUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'5%'},
			{field:'id',title:'ID', width:'5%',align:'center'},
			{field:'quotedPrice',title:'报价金额', width:'10%',align:'center'},
			{field:'discountPrice',title:'折扣后金额',align:'center', width:'10%'},
			{field:'managePrice',title:'项目管理',align:'center', width:'10%'},
			{field:'designPrice',title:'设计实施',templet:'#lockT', width:'10%',align:'center'},
			{field:'technicalPrice',title:'技术实施',align:'center', width:'15%'},
			{field:'otherPrice',title:'其他',align:'center', width:'15%'},
			{field:'remark',title:'补充说明',align:'center', width:'20%'}
		]],
		page:true,
		id:'ExtraList'
	});
	
	
	$("#addPay").on('click', function(){
		index = layer.open({
			title:"添加支付节点",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area: ['400px', '320px'], //宽高
	 	 	content: $("#payBox"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	
	$("#addXy").on('click', function(){
		index = layer.open({
			title:"添加补充协议",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area:['700px','550px'], //宽高
	 	 	content: $("#xyBox"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	
	//选完文件后不自动上传
	  upload.render({
		 elem: '#xyFile'
	    ,accept: 'file' //普通文件
	   	,auto: false
	   	,multiple: true
	   	,url : "/contract/extra/synch"
	  });
	
	
});

//文件下载
function download(fileName){
	alert(fileName)
}

function deleteFile(){
	layer.confirm('确认删除?',{
		icon: 3, 
		title:'提示',
		btnAlign: 'c',
		yes: function(index){
		}
	})
}
</script>
</body>
</html>