<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>项目列表</title>
	<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
	<style type="text/css">
		body{overflow-y: scroll;}
	</style>
	<!-- 操作模板 -->
	<script type="text/html" id="PT">
		<a class="layui-btn layui-btn-xs" lay-event="update">更新</a>
	</script>
	
	<!-- 操作模板 -->
	<script type="text/html" id="HTT">
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">查看</a>
	</script>
</head>
<body style="padding-left: 10px;padding-right: 10px;">
	
	<fieldset style="border: 1px dashed lightgray;margin-top: 20px;display: block;">
		<legend>查询条件</legend>
		<form id="formSearch" class="layui-form" style="line-height: 60px;height: 60px;">
		    <div class="layui-form-item">
		    	<div class="layui-inline">
			    	<label class="layui-form-label">项目名</label>
			        <div class="layui-input-inline">
			            <input type="text" class="layui-input" id="name" placeholder="请输入项目名">
			        </div>
		    	</div>
		    	<div class="layui-inline">
			    	<label class="layui-form-label">项目状态</label>
			        <div class="layui-input-inline">
			            <select id="projectState" name="projectState" lay-filter="state" lay-search="">
			            	<option value="">请选择</option>
							<option value="正常">正常</option>
							<option value="延期">延期</option>
							<option value="提前">提前</option>
							<option value="暂停">暂停</option>
							<option value="终止">终止</option>
							<option value="已完成">已完成</option>
			            </select>
			        </div>
		    	</div>
		    	
		    	<div class="layui-inline">
			    	<label class="layui-form-label">区域</label>
			        <div class="layui-input-inline">
			            <select id="area" name="area" lay-filter="state" lay-search="">
			            	<option value="">请选择</option>
							<option value="北京">北京</option>
							<option value="上海">上海</option>
							<option value="广州">广州</option>
			            </select>
			        </div>
		    	</div>
		    	
		    	<div class="layui-inline">
		    		<button type="button" class="layui-btn layui-btn-small" data-type="search" id="search">
				  	<i class="layui-icon">&#x1002;</i>查询
				</button>
		    	</div>
		    </div>
		</form>
	</fieldset>
	<div class="layui-col-md12" style="margin-top: 10px;">
		<div class="layui-row">
			<div class="layui-col-md3">
				<button class="layui-btn layui-btn-small layui-btn-warm" onclick="addContract()">
				  <i class="layui-icon">&#xe654;</i>新增合同
				</button>
				<button class="layui-btn layui-btn-small layui-btn-normal" onclick="addProject()">
				  <i class="layui-icon">&#xe654;</i>新增项目
				</button>
			</div>
		</div>
		<div class="layui-col-md12 box">
			<table id="table" class="layui-table" lay-filter="test"></table>
		</div>
	</div>
	<script type="text/javascript" src="/plugins/layui/layui.js"></script>
	<script type="text/javascript">
		var $,form,table,layer,laydate;
		// 创建时间
		var createTime;
		layui.use(['laydate','table','layer','form'],function(){
			form = layui.form;
			$ = layui.$;
			// 引用时间插件
			laydate = layui.laydate;
			laydate.render({
				elem : '#createtime',
				theme: 'molv',
				done : function(value,date){
					//当时间值变换时，触发该事件
					createTime = value;
					// 调用重新加载
					reload();
				}
			});
			//引入弹出层控件
			layer = layui.layer;
			//引入表格
			table = layui.table;
			table.render({
				elem:'#table',
				url:'/project/list',
				limit: 10,
				cols:[[
					{checkbox: true, fixed: true,width:'4%'},
					{field:'name',title:'项目名称', width:'10%',align:'center'},
					{field:'area',title:'区域', width:'10%',align:'center'},
					{field:'startTime',title:'启动时间', width:'10%',align:'center',sort: true},
					{field:'onlineTime',title:'基准上线时间', width:'10%',align:'center',sort: true},
					{field:'projectState',title:'项目状态', width:'10%',align:'center'},
					{field:'progress',title:'项目所处阶段', width:'10%',align:'center'},
					{field:'milepostProgress',title:'项目里程碑进度', width:'10%',align:'center'},
					{field:'right',title:'项目信息', width:'8%',align:'center',templet: '#PT'},
					{field:'right',title:'合同信息', width:'8%',align:'center',templet: '#HTT'},
					{field:'recorded',title:'域名备案', width:'10%',align:'center',templet:'<div>{{d.domain!="" ?"已备案":"否"}}</div>'}
				]],
				page:true,
				id:'progressList'
			});
			
			
			
			//监听操作按钮
			table.on('tool(test)',function(row){
				var data = row.data;
				if(row.event === 'update'){//更新
					
					var title;
					if(data.name.length <= 5){
						title = data.name;
					} else {
						title = data.name.substring(0,5) + "...";
					}
					
					
					var field = {
							"title": title,
							"icon": "&#xe615;",
							"href": "/project/" + data.id
						};
					window.parent.addLab(field);
					
				} else { // 查看详情
				}
			});
			
			
			table.on('sort(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
				  console.log(obj.field); //当前排序的字段名
				  console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
				  console.log(this); //当前排序的 th 对象
				  
				  //尽管我们的 table 自带排序功能，但并没有请求服务端。
				  //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
				  table.reload('progressList', { //testTable是表格容器id
				    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
				    ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
				       orderBy: obj.field //排序字段
				      ,isAsc: obj.type //排序方式
				    }
				  });
			});	
			
			// 点击查询
			$('#search').on('click', function(){
				// 调用重新加载
				reload();
			}) 
			
			
			//监听选择框选中事件
			form.on('select(state)',function(data){
				// 调用重新加载
				reload();
			});
			
		});

		// 重新加载
		function reload() {
			table.reload('progressList', {
				where : {
					name : $("#name").val(),
					projectState : $("#projectState").val(),
					area : $("#area").val()
				}
			});
		}
		
		
		function addContract(){
			var field = {
					"title": "新增合同",
					"icon": "&#xe615;",
					"href": "/contract"
				};
			window.parent.addLab(field);
		}
		
		
		function addProject(){
			var field = {
					"title": "新增项目",
					"icon": "&#xe615;",
					"href": "/project"
				};
			window.parent.addLab(field);
		}
	</script>
	
</body>
</html>
