<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>创建项目</title>
<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

<script type="text/html" id="fileT">
	<button type="button" class="layui-btn layui-btn-normal layui-btn-lg">
		<a href="javascript:download('${fileName}')">
			${originalName}
		</a>
		<a href="javascript:deleteFile()">
			<i class="layui-icon layui-unselect layui-tab-close" data-id="1">ဆ</i>
		</a>
	</button>
</script>
</head>
<body style="padding-left: 10px; padding-right: 10px;">
	<div class="layui-tab">
		<ul class="layui-tab-title">
			<li class="layui-this">项目基础信息</li>
			<li>项目主体实施计划</li>
			<li>项目进度管理</li>
			<li>项目风险跟踪</li>
			<li>项目成员管理</li>
		</ul>
		<div class="layui-tab-content">
			<!-- tab1 -->
			<div class="layui-tab-item layui-show">
				<form class="layui-form" id="baseForm">
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;border-color: #009688">
						<legend>项目基础信息</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label">项目名称</label>
						<div class="layui-input-block">
							<input type="hidden" name="id" value="#(project.id ??)">
							<input type="text" id="name" name="name" autocomplete="off"
								placeholder="请输入项目名称" class="layui-input" lay-verify="required" value="#(project.name ??)">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">项目描述</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入项目描述" class="layui-textarea" name="description" lay-verify="required">#(project.description ??)</textarea>
						</div>
					</div>
					
					<div class="layui-form-item" style="margin-bottom: 40px;">
						<label class="layui-form-label">对接人</label>
						<div class="layui-form-item" style="padding-left: 50px;">
							<label class="layui-form-label">姓名</label>
							<div class="layui-input-inline">
								<input type="text" id="contactName" name="contactName" autocomplete="off"
									placeholder="请输入姓名" class="layui-input" lay-verify="required" value="#(project.contactName ??)">
							</div>
							<label class="layui-form-label">部门</label>
							<div class="layui-input-inline">
								<input type="text" id="contactDep" name="contactDep" autocomplete="off"
									placeholder="请输入部门" class="layui-input" lay-verify="required" value="#(project.contactDep ??)">
							</div>
						</div>
			
						<div class="layui-form-item" style="padding-left: 50px;">
							<label class="layui-form-label">电话</label>
							<div class="layui-input-inline">
								<input type="text" id="contactPhone" name="contactPhone" autocomplete="off"
									placeholder="请输入电话" class="layui-input" lay-verify="required" value="#(project.contactPhone ??)">
							</div>
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-inline">
								<input type="text" id="contactEmail" name="contactEmail" autocomplete="off"
									placeholder="请输入邮箱" class="layui-input" lay-verify="required" value="#(project.contactEmail ??)">
							</div>
						</div>
			
						<div class="layui-form-item" style="padding-left: 50px;">
							<label class="layui-form-label">微信</label>
							<div class="layui-input-inline">
								<input type="text" id="contactWechat" name="contactWechat" autocomplete="off"
									placeholder="请输入微信" class="layui-input" lay-verify="required" value="#(project.contactWechat ??)">
							</div>
							<label class="layui-form-label">备注</label>
							<div class="layui-input-inline">
								<input type="text" id="contactRemark" name="contactRemark" autocomplete="off"
									placeholder="请输入备注" class="layui-input" lay-verify="required" value="#(project.contactRemark ??)">
							</div>
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">所属合同</label>
						<div class="layui-input-inline" style="width: 500px;">
							<select xm-select="select" xm-select-type="2" id="contracts">
								#for(contract: contracts)
									<option value="#(contract.id)">#(contract.name)</option>
								#end
							</select>
							<input type="hidden" name="contractIds" id="contractIds">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">所属区域</label>
						<div class="layui-input-inline">
							<select name="area">
								<option value="">请选择</option>
								#if(project.area ?? == '北京')
									<option value="北京" selected="selected">北京</option>
									#else
									<option value="北京">北京</option>
								#end
								#if(project.area ?? == '上海')
									<option value="上海" selected="selected">上海</option>
									#else
									<option value="上海">上海</option>
								#end
								#if(project.area ?? == '广州')
									<option value="广州" selected="selected">广州</option>
									#else
									<option value="广州">广州</option>
								#end
							</select>
						</div>
						
						<label class="layui-form-label">项目类型</label>
						<div class="layui-input-inline">
							<select name="projectType">
								<option value="">请选择</option>
								#if(project.projectType ?? == '官网')
									<option value="官网" selected="selected">官网</option>
									#else
									<option value="官网">官网</option>
								#end
								
								#if(project.projectType ?? == 'APP')
									<option value="APP" selected="selected">APP</option>
									#else
									<option value="APP">APP</option>
								#end
								
								#if(project.projectType ?? == 'H5')
									<option value="H5" selected="selected">H5</option>
									#else
									<option value="H5">H5</option>
								#end
								
								#if(project.projectType ?? == '小程序')
									<option value="小程序" selected="selected">小程序</option>
									#else
									<option value="小程序">小程序</option>
								#end
							</select>
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label">生产方式</label>
						<div class="layui-input-inline">
							<select name="productType">
								<option value="">请选择</option>
								
								#if(project.productType ?? == '定制')
									<option value="定制" selected="selected">定制</option>
									#else
									<option value="定制">定制</option>
								#end
								
								#if(project.productType ?? == 'CMS')
									<option value="CMS" selected="selected">CMS</option>
									#else
									<option value="CMS">CMS</option>
								#end
								
								#if(project.productType ?? == '中台')
									<option value="中台" selected="selected">中台</option>
									#else
									<option value="中台">中台</option>
								#end
								
								#if(project.productType ?? == '外包')
									<option value="外包" selected="selected">外包</option>
									#else
									<option value="外包">外包</option>
								#end
							</select>
						</div>
						
						<label class="layui-form-label">合同工期</label>
						<div class="layui-input-inline">
							<input type="text" id="timeLimit" name="timeLimit" autocomplete="off"
									placeholder="请输入合同工期" class="layui-input" lay-verify="required" value="#(project.timeLimit ??)">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">基准上线时间</label>
						<div class="layui-input-inline">
							<input type="text" id="onlineTime" name="onlineTime" autocomplete="off"
									 class="layui-input" lay-verify="required" value="#(df.dateFormat(project.onlineTime ??))">
						</div>
						
						<label class="layui-form-label">域名</label>
						<div class="layui-input-inline">
							<input style="width: 300px;" type="text" id="domain" name="domain" autocomplete="off"
									placeholder="请输入域名" class="layui-input" lay-verify="required" value="#(project.domain??)">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label">部署方式</label>
						<div class="layui-input-inline">
							<select name="deployType">
								<option value="">请选择</option>
								#if(project.deployType ?? == '独立部署')
									<option value="独立部署" selected="selected">独立部署</option>
									#else
									<option value="独立部署">独立部署</option>
								#end
								#if(project.deployType ?? == '云部署')
									<option value="云部署" selected="selected">云部署</option>
									#else
									<option value="云部署">云部署</option>
								#end
								#if(project.deployType ?? == '中企云')
									<option value="中企云" selected="selected">中企云</option>
									#else
									<option value="中企云">中企云</option>
								#end
							</select>
						</div>
						
						<label class="layui-form-label">说明</label>
						<div class="layui-input-inline">
							<input style="width: 300px;" type="text" id="explain" name="explain" autocomplete="off"
									placeholder="请输入补充说明" class="layui-input" lay-verify="required" value="#(project.explain ??)">
						</div>
					</div>
					
					
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;border-color: #009688">
						<legend>项目进度管理</legend>
					</fieldset>
					
					<div class="layui-form-item">
						<label class="layui-form-label">项目进度</label>
						<div class="layui-input-block">
							<input type="radio" name="progress" value="需求" title="需求" #if(project.progress?? == "需求")  checked #end >
							
			      			<input type="radio" name="progress" value="UI设计" title="UI设计" #if(project.progress?? == "UI设计")  checked #end>
			      			<input type="radio" name="progress" value="前端制作" title="前端制作" #if(project.progress?? == "前端制作")  checked #end>
			      			<input type="radio" name="progress" value="技术开发" title="技术开发" #if(project.progress?? == "技术开发")  checked #end>
			      			<input type="radio" name="progress" value="UAT测试" title="UAT测试" #if(project.progress?? == "UAT测试")  checked #end>
			      			<input type="radio" name="progress" value="部署上线" title="部署上线" #if(project.progress?? == "部署上线")  checked #end >
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">项目开始时间</label>
						<div class="layui-input-inline">
							<input type="text" id="startTime" name="startTime" value="#(df.dateFormat(project.startTime ??))" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label">里程碑进度</label>
						<div class="layui-input-inline">
							<input type="text" id="milepostProgress" name="milepostProgress" value="#(project.milepostProgress ??)" autocomplete="off"
									placeholder="请输入里程碑进度" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label">项目状态</label>
						<div class="layui-input-inline">
							<select name="projectState">
								<option value="">请选择</option>
								<option value="正常" #if(project.projectState?? == "正常")  selected #end>正常</option>
								<option value="延期" #if(project.projectState?? == "延期")  selected #end>延期</option>
								<option value="提前" #if(project.projectState?? == "提前")  selected #end>提前</option>
								<option value="暂停" #if(project.projectState?? == "暂停")  selected #end>暂停</option>
								<option value="终止" #if(project.projectState?? == "终止")  selected #end>终止</option>
								<option value="已完成" #if(project.projectState?? == "已完成")  selected #end>已完成</option>
							</select>
						</div>
						
						<label class="layui-form-label" style="width: 85px;">项目延期天数</label>
						<div class="layui-input-inline">
							<input type="text" id="delay" name="delay" value="#(project.delay ??)" autocomplete="off"
									placeholder="请输入延期天数" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label"  style="width: 85px;">项目并行情况</label>
						<div class="layui-input-inline">
							<select name="parallel">
								<option value="">请选择</option>
								<option value="UI与制作并行" #if(project.parallel?? == "UI与制作并行")  selected #end>UI与制作并行</option>
								<option value="制作与后台开发并行" #if(project.parallel?? == "制作与后台开发并行")  selected #end>制作与后台开发并行</option>
								<option value="设计与后台开发并行" #if(project.parallel?? == "设计与后台开发并行")  selected #end>设计与后台开发并行</option>
							</select>
						</div>
						
						<label class="layui-form-label">补充说明</label>
						<div class="layui-input-inline">
							<input  style="width: 500px;" type="text" value="#(project.progressExplain ??)" id="progressExplain" name="progressExplain" autocomplete="off"
									placeholder="请输入补充说明" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label"  style="width: 85px">当前任务描述</label>
						<div class="layui-input-block">
							<textarea  style="width: 66%" placeholder="请输入当前任务描述" class="layui-textarea" name="taskDesc">#(project.taskDesc ??)</textarea>
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">整体验收时间</label>
						<div class="layui-input-inline">
							<input type="text" id="acceptTime" name="acceptTime" value="#(df.dateFormat(project.acceptTime ??))" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label">实际工期</label>
						<div class="layui-input-inline">
							<input type="text" id="actualDay" name="actualDay" autocomplete="off"
									placeholder="工作日" class="layui-input" lay-verify="required" value="#(project.actualDay ??)">
						</div>
					</div>
					
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;border-color: #009688">
						<legend>证书到期时间</legend>
					</fieldset>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">证书开始时间</label>
						<div class="layui-input-inline">
							<input type="text" id="certStime" name="certStime" value="#(df.dateFormat(project.certStime ??))" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="width: 85px;">证书结束时间</label>
						<div class="layui-input-inline">
							<input type="text" id="certEtime" name="certEtime" value="#(df.dateFormat(project.certEtime ??))" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label">工作日</label>
						<div class="layui-input-inline">
							<input placeholder="工作日" type="text" id="certDays" name="certDays" value="#(project.certDays ??)" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item" style="margin-left: 350px;margin-top: 30px;margin-bottom: 50px">
						<div class="layui-input-block">
							<button class="layui-btn" id="projectSave" lay-submit="" lay-filter="projectSave">提交</button>
						</div>
					</div>
				</form>
			</div>
			
			
			<!-- tab2 -->
			<div class="layui-tab-item" id="tab2">
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>项目主体实施计划</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px">实施计划</label>
					<button class="layui-btn layui-btn-small layui-btn-warm" id="addPlan" >
					  <i class="layui-icon">&#xe654;</i>添加
					</button>
				</div>
				<table id="planTable" class="layui-table" lay-filter="test"></table>
			</div>
			
			
			<!-- tab3 -->
			<div class="layui-tab-item">
			
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>项目进度管理</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px">进度管理</label>
					<button class="layui-btn layui-btn-small layui-btn-warm" id="addProcess" >
					  <i class="layui-icon">&#xe654;</i>添加
					</button>
				</div>
				<table id="progressTable" class="layui-table" lay-filter="test"></table>
			</div>
			<!-- tab4 -->
			<div class="layui-tab-item">
			
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>项目风险管理</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px">项目风险跟踪</label>
					<button class="layui-btn layui-btn-small layui-btn-warm" id="addFx" >
					  <i class="layui-icon">&#xe654;</i>添加
					</button>
				</div>
				<table id="riskTable" class="layui-table" lay-filter="test"></table>
				
			</div>
			
			<!-- tab5 -->
			<div class="layui-tab-item">
			
				<fieldset class="layui-elem-field layui-field-title"
					style="margin-top: 30px;border-color: #009688">
					<legend>项目成员管理</legend>
				</fieldset>
				
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px">项目成员</label>
					<button class="layui-btn layui-btn-small layui-btn-warm" id="addMember" >
					  <i class="layui-icon">&#xe654;</i>添加
					</button>
				</div>
				<table id="memberTable" class="layui-table" lay-filter="test"></table>
			</div>
		</div>
	</div>
	
	
	
	<!-- 添加风险弹框 -->
	<div id="box" style="display: none;padding: 20px;">
		<form class="layui-form" id="riskForm" enctype="multipart/form-data">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">风险描述</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入风险描述" class="layui-textarea" name="describe"></textarea>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">风险级别</label>
				<div class="layui-input-inline">
					<select name="level">
						<option value="">请选择</option>
						<option value="低">低</option>
						<option value="中">中</option>
						<option value="高">高</option>
						<option value="极高">极高</option>
					</select>
				</div>
				
				<label class="layui-form-label">发生概率</label>
				<div class="layui-input-inline">
					<select name="probability">
						<option value="">请选择</option>
						<option value="低">低</option>
						<option value="中">中</option>
						<option value="高">高</option>
						<option value="极高">极高</option>
					</select>
				</div>
			</div>
					
			<div class="layui-form-item">
				<label class="layui-form-label">风险状态</label>
				<div class="layui-input-inline">
					<select name="state">
						<option value="">请选择</option>
						<option value="监控中">监控中</option>
						<option value="升级">升级</option>
						<option value="关闭">关闭</option>
					</select>
				</div>
				
				<label class="layui-form-label">跟踪日期</label>
				<div class="layui-input-inline">
					<input type="text" id="trackTime" name="trackTime" autocomplete="off"  class="layui-input" lay-verify="required">
				</div>
			</div>		
			
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">应对措施</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入应对措施" class="layui-textarea" name="measures"></textarea>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">责任人</label>
				<div class="layui-input-block">
					<input type="text" id="personLiable" name="personLiable" autocomplete="off"
						placeholder="请输入责任人" class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-left: 180px;margin-top: 30px;margin-bottom: 20px">
				<div class="layui-input-block">
					<input type="hidden" name="projectId" id="riskProjectId" value="#(project.id ??)"/>
					<button class="layui-btn" id="riskSave" lay-submit="" lay-filter="riskSave">提交</button>
					<button type="reset" id="riskReset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>	
		</form>
	</div>
	
	
	<!-- 添加实施计划弹框 -->
	<div id="planBox" style="display: none;padding: 20px;padding-left: 0px;">
		<form class="layui-form" id="planForm">
			<div class="layui-form-item">
				<label class="layui-form-label">项目阶段</label>
				<div class="layui-input-block">
					<select name="stage">
						<option value="">请选择</option>
						<option value="需求阶段">需求阶段</option>
						<option value="UI设计阶段">UI设计阶段</option>
						<option value="前端制作阶段">前端制作阶段</option>
						<option value="技术开发阶段">技术开发阶段</option>
						<option value="测试联调">测试联调</option>
						<option value="UAT测试阶段">UAT测试阶段</option>
						<option value="项目部署时间">项目部署时间</option>
					</select>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">起始时间</label>
				<div class="layui-input-block">
					<input type="text" id="planStartTime" name="startTime" autocomplete="off"
						class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">结束时间</label>
				<div class="layui-input-block">
					<input type="text" id="planEndTime" name="endTime" autocomplete="off"
						class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-left: 20px;margin-top: 50px;margin-bottom: 20px">
				<div class="layui-input-block">
					<input type="hidden" name="projectId" id="planProjectId" value="#(project.id ??)"/>
					<button class="layui-btn" id="planSave" lay-submit="" lay-filter="planSave">提交</button>
					<button type="reset" id="planReset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
	
	
	<!-- 添加项目进度弹框 -->
	<div id="processBox" style="display: none;padding: 20px;padding-left: 0px;">
		<form class="layui-form" id="progressForm" enctype="multipart/form-data">
			<div class="layui-form-item">
				<label class="layui-form-label">项目阶段</label>
				<div class="layui-input-block">
					<select name="stage">
						<option value="">请选择</option>
						<option value="需求阶段">需求阶段</option>
						<option value="UI设计阶段">UI设计阶段</option>
						<option value="前端制作阶段">前端制作阶段</option>
						<option value="技术开发阶段">技术开发阶段</option>
						<option value="测试联调">测试联调</option>
						<option value="UAT测试阶段">UAT测试阶段</option>
						<option value="项目部署时间">项目部署时间</option>
					</select>
				</div>
			</div>
			
			
			<div class="layui-form-item">
				<label class="layui-form-label">起始时间</label>
				<div class="layui-input-block">
					<input type="text" id="progressStartTime" name="startTime" autocomplete="off"
						class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">结束时间</label>
				<div class="layui-input-block">
					<input type="text" id="progressEndTime" name="endTime" autocomplete="off"
						class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">实际工期</label>
				<div class="layui-input-block">
					<input type="text" id="actualDay" name="actualDay" autocomplete="off"
						class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-left: 40px;">
				<button type="button" class="layui-btn" id="lcbFile"><i class="layui-icon"></i>选择文件</button> 
			</div>
			
			<div class="layui-form-item" style="margin-left: 20px;margin-top: 50px;margin-bottom: 20px">
				<div class="layui-input-block">
					<input type="hidden" name="projectId" id="progressProjectId" value="#(project.id ??)"/>
					<button class="layui-btn" id="progressSave" lay-submit="" lay-filter="progressSave">提交</button>
					<button type="reset" id="progressReset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
	
	<!-- 添加项目成员弹框 -->
	<div id="memberBox" style="display: none;padding: 20px;padding-left: 0px;">
		<form class="layui-form" id="memberForm" >
			
			
			<div class="layui-form-item">
				<label class="layui-form-label">成员角色</label>
				<div class="layui-input-block">
					<select name="role">
						<option value="">请选择</option>
						<option value="项目经理">项目经理</option>
						<option value="项目执行">项目执行</option>
						<option value="产品经理">产品经理</option>
						<option value="UI设计师">UI设计师</option>
						<option value="FE前端制作">FE前端制作</option>
						<option value="研发工程师">研发工程师</option>
						<option value="数据录入">数据录入</option>
						<option value="测试工程师">测试工程师</option>
					</select>
				</div>
			</div>
			
			
			<div class="layui-form-item">
				<label class="layui-form-label">成员名称</label>
				<div class="layui-input-block">
					<input type="text" id="name" name="name" autocomplete="off"
						placeholder="请输入成员名称" class="layui-input" lay-verify="required">
				</div>
			</div>
			
			<div class="layui-form-item" style="margin-top: 100px;margin-left: 30px;">
				<div class="layui-input-block">
					<input type="hidden" name="projectId" id="memberProjectId" value="#(project.id ??)" />
					<button class="layui-btn" id="memberSave" lay-submit="" lay-filter="memberSave">提交</button>
					<button type="reset" id="memberReset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script>
var laydate,createTime,table,element,index,upload,form,formSelects;

// 项目ID
var projectId;
// 选择的合同ID
var contractIds;
layui.config({
	base: '/js/'
}).extend({
	formSelects: 'formSelects-v3'
});

var planUrl = "/project/plans";
var progressUrl = "/project/progress";
var riskUrl = "/project/risks";
var memberUrl = "/project/members";

layui.use(['table','laydate','element','upload','form','formSelects'], function(){
    var $ = layui.jquery
    ,upload = layui.upload
    ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    formSelects = layui.formSelects;
    //引用时间插件
    laydate = layui.laydate;
	form = layui.form;
	
	var projectId = '#(project.id ??)';
	
	if(projectId != null && projectId != ""){
		planUrl += "?projectId=" + projectId;
		progressUrl += "?projectId=" + projectId;
		riskUrl += "?projectId=" + projectId;
		memberUrl += "?projectId=" + projectId;
	}
	
	contractIds = '#(contractIds)';
	if(contractIds != null && contractIds != ""){
		var ids = contractIds.split(",");
		for(var i=0 ;i<ids.length;i++){
			$("#contracts").find("option").each(function(){
				if($(this).val() == ids[i]){
					$(this).attr("selected",true);
				}
			});
		}
	}
	
	laydate.render({
	    elem: '#onlineTime' //指定元素
	});
	
	laydate.render({
	    elem: '#startTime' //指定元素
	});
	
	laydate.render({
	    elem: '#acceptTime' //指定元素
	});
	
	laydate.render({
	    elem: '#certStime' //指定元素
	});
	
	laydate.render({
	    elem: '#certEtime' //指定元素
	});
	
	laydate.render({
	    elem: '#planStartTime' //指定元素
	});
	
	laydate.render({
	    elem: '#planEndTime' //指定元素
	});
  
	
	laydate.render({
	    elem: '#progressStartTime' //指定元素
	});
	
	laydate.render({
	    elem: '#progressEndTime' //指定元素
	});
	
	laydate.render({
	    elem: '#trackTime' //指定元素
	});
	
	// formSelects.value('select','val')
	formSelects.render({
		name:'select',//xm-select的值
		//init:[1,2,3],初始化值
		on:function(data,arr){// 监听变化
			handleVals(arr);
		}
	});
	
  
	//引入表格
	table = layui.table;
	table.render({
		elem:'#riskTable',
		url:riskUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'4%'},
			{field:'id',title:'ID', width:'5%',align:'center'},
			{field:'describe',title:'风险描述', width:'10%',align:'center'},
			{field:'level',title:'风险级别',align:'center'},
			{field:'probability',title:'发生概率',align:'center'},
			{field:'state',title:'风险状态', width:'10%',align:'center'},
			{field:'trackTime',title:'跟踪日期',align:'center'},
			{field:'measures',title:'对应措施',width:'15%',align:'center'},
			{field:'personLiable',title:'责任人',align:'center'},
			{fixed:'right', title:'操作', align:'center'}
		]],
		page:true,
		id:'riskList'
	});
	
	
	
	table.render({
		elem:'#planTable',
		url:planUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'10%'},
			{field:'id',title:'ID', width:'10%',align:'center'},
			{field:'stage',title:'项目阶段', width:'20%',align:'center'},
			{field:'startTime',title:'起始时间',align:'center', width:'20%'},
			{field:'endTime',title:'结束时间',align:'center', width:'20%'}
		]],
		page:true,
		width:'800',
		id:'planList'
	});
	
	
	table.render({
		elem:'#progressTable',
		url:progressUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'4%'},
			{field:'id',title:'ID', width:'8%',align:'center'},
			{field:'stage',title:'项目阶段',width:'25%',align:'center'},
			{field:'startTime',title:'起始时间',align:'center', width:'15%'},
			{field:'endTime',title:'结束时间',align:'center', width:'15%'},
			{field:'actualDay',title:'实际工期',align:'center', width:'8%'},
			{field:'originName',title:'里程碑文件',align:'center'}
		]],
		page:true,
		id:'progressList'
	});
	
	
	//引入表格
	table = layui.table;
	table.render({
		elem:'#memberTable',
		url:memberUrl,
		limit: 10,
		cols:[[
			{checkbox: true, fixed: true,width:'8%'},
			{field:'id',title:'ID', width:'12%',align:'center'},
			{field:'role',title:'成员角色',width:'40%',align:'center'},
			{field:'name',title:'成员名称',align:'center', width:'40%'}
		]],
		width:'800',
		page:true,
		id:'memberList'
	});
	
	
	$("#addFx").on('click', function(){
		index = layer.open({
			title:"添加风险跟踪",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area:['750px','550px'], //宽高
	 	 	content: $("#box"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	
	$("#addPlan").on('click', function(){
		index = layer.open({
			title:"添加实施计划",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area: ['450px', '420px'], //宽高
	 	 	content: $("#planBox"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	$("#addProcess").on('click', function(){
		index = layer.open({
			title:"添加项目进度",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area: ['450px', '450px'], //宽高
	 	 	content: $("#processBox"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	
	$("#addMember").on('click', function(){
		index = layer.open({
			title:"添加项目成员",
	  		type: 1,
	  		skin: 'layui-layer-molv', //加上边框
	  		area: ['400px', '420px'], //宽高
	 	 	content: $("#memberBox"),
	 	 	shadeClose :true,
	 	 	closeBtn: 2 //0不显示关闭按钮
		});
	});
	
	
	
	
	form.on('submit(projectSave)', function (data) {
		if(projectId != null && projectId !='' && '#(project.id ??)' ==""){
			layer.alert('不能重复提交', {icon: 2});
			return false;
		} else {
			
			// 合同隐藏域赋值
			$("#contractIds").val(contractIds);
			$.ajax({
				type : "post",
				url : "/project/synch",
				data : $("#baseForm").serialize(),
				dataType : "json",
				success : function(data) {
					if(data.code == 200){
						projectId = data.data.id;
						$("#planProjectId").val(projectId);
						$("#progressProjectId").val(projectId);
						$("#riskProjectId").val(projectId);
						$("#memberProjectId").val(projectId);
						layer.alert('保存成功', {icon: 1});
						$(".layui-tab-item").removeClass("layui-show");
						$("#tab2").addClass("layui-show");
						$(".layui-tab-title").find("li").removeClass("layui-this");
						$(".layui-tab-title").find("li").eq(1).addClass("layui-this");
					} else {
						layer.msg(data.message);
					}
				}
			}); 
			
			return false;
		}
    });
	
	
	// 保存项目计划
	form.on('submit(planSave)', function (data) {
		if(projectId != null && projectId !=''){
			$.ajax({
				type : "post",
				url : "/project/plan/synch",
				data : $("#planForm").serialize(),
				dataType : "json",
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#planReset").click();
						table.reload('planList', {
							where : {
								projectId : projectId,
							}
						});
					} else {
						layer.msg(data.message);
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	
	// 保存项目进度
	form.on('submit(progressSave)', function (data) {
		if(projectId != null && projectId !=''){
			var formData = new FormData($("#progressForm")[0]); 
			$.ajax({
				type : "post",
				url : "/project/progress/synch",
				data : formData,
				dataType : "json",
				processData:false,
		        contentType:false,
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#progressReset").click();
						table.reload('progressList', {
							where : {
								projectId : projectId,
							}
						});
					} else {
						layer.msg(data.message);
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	
	
	// 保存项目风险
	form.on('submit(riskSave)', function (data) {
		if(projectId != null && projectId !=''){
			$.ajax({
				type : "post",
				url : "/project/risk/synch",
				data : $("#riskForm").serialize(),
				dataType : "json",
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#riskReset").click();
						table.reload('riskList', {
							where : {
								projectId : projectId,
							}
						});
					} else {
						layer.msg(data.message);
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	
	// 保存项目成员
	form.on('submit(memberSave)', function (data) {
		if(projectId != null && projectId !=''){
			$.ajax({
				type : "post",
				url : "/project/member/synch",
				data : $("#memberForm").serialize(),
				dataType : "json",
				success : function(data) {
					if(data.code == 200){
						layer.close(index);
						$("#memberReset").click();
						table.reload('memberList', {
							where : {
								projectId : projectId,
							}
						});
					} else {
						layer.msg(data.message);
					}
				}
			}); 
			
			return false;
		} else {
			layer.alert('请新建基础信息', {icon: 2});
			return false;
		}
	});
	
	//选完文件后不自动上传
	  upload.render({
	    elem: '#lcbFile'
   	    ,accept: 'file' //普通文件
   	   	,auto: false
   	   	,multiple: false
   	   	,url : "/project/progress/synch"
	  });
	
});


function handleVals(arr) {
	contractIds = arr.map(function(data){
		return data.val;
	}).join(',');
}
</script>
</body>
</html>