<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>项目状态统计柱状图</title>
<script src="/statics/plugins/echarts/echarts.min.js"></script>
 <script src="/statics/plugins/echarts/macarons.js"></script>
 	<link rel="stylesheet" href="/statics/plugins/layui/css/layui.css" media="all" />
	<style type="text/css">
		body{overflow-y: scroll;}
	</style>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="projectStatus" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('projectStatus'),"macarons");

        // 指定图表的配置项和数据
       option = {
        			title:{
        				text:"项目状态柱状统计图"
        			}
				    xAxis: {
				        type: 'category',
				        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
				    },
				    yAxis: {
				        type: 'value'
				    },
				    series: [{
				        data: [120, 200, 150, 80, 70, 110, 130],
				        type: 'bar'
				    }]
				};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>