<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>创建项目</title>
<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
</head>
<body style="padding-left: 10px; padding-right: 10px;">
	<div class="layui-tab">
		<ul class="layui-tab-title">
			<li class="layui-this">项目基础信息</li>
			<li>项目进度管理</li>
			<li>项目风险跟踪</li>
			<li>项目成员管理</li>
		</ul>
		<div class="layui-tab-content">
			<!-- tab1 -->
			<div class="layui-tab-item layui-show">
				<form class="layui-form" id="seriesForm" enctype="multipart/form-data">
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;border-color: #009688">
						<legend>项目基础信息</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label">项目名称</label>
						<div class="layui-input-block">
							<input type="text" id="title" name="title" autocomplete="off"
								placeholder="请输入项目名称" class="layui-input" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">项目描述</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入项目描述" class="layui-textarea" name="desc"></textarea>
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">所属区域</label>
						<div class="layui-input-inline">
							<select>
								<option value="0">请选择</option>
								<option value="1">北京</option>
								<option value="2">上海</option>
								<option value="3">广州</option>
							</select>
						</div>
						
						<label class="layui-form-label">项目类型</label>
						<div class="layui-input-inline">
							<select>
								<option value="0">官网</option>
								<option value="1">APP</option>
								<option value="2">H5</option>
								<option value="3">小程序</option>
							</select>
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label">生产方式</label>
						<div class="layui-input-inline">
							<select>
								<option value="0">请选择</option>
								<option value="1">定制</option>
								<option value="2">CMS</option>
								<option value="3">中台</option>
								<option value="4">外包</option>
							</select>
						</div>
						
						<label class="layui-form-label">合同工期</label>
						<div class="layui-input-inline">
							<input type="text" id="title" name="title" autocomplete="off"
									placeholder="请输入合同工期" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">基准上线时间</label>
						<div class="layui-input-inline">
							<input type="text" id="onlineTime" name="title" autocomplete="off"
									 class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label">域名</label>
						<div class="layui-input-inline">
							<input style="width: 300px;" type="text" id="title" name="title" autocomplete="off"
									placeholder="请输入域名" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label">部署方式</label>
						<div class="layui-input-inline">
							<select>
								<option value="0">请选择</option>
								<option value="1">独立部署</option>
								<option value="2">云部署</option>
								<option value="3">中企云</option>
							</select>
						</div>
						
						<label class="layui-form-label">说明</label>
						<div class="layui-input-inline">
							<input style="width: 300px;" type="text" id="title" name="title" autocomplete="off"
									placeholder="请输入补充说明" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<fieldset class="layui-elem-field layui-field-title"
						style="margin-top: 30px;border-color: #009688">
						<legend>项目主体实施计划</legend>
					</fieldset>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">项目开始时间</label>
						<div class="layui-input-inline">
							<input type="text" id="psTime" name="psTime" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label">实际工期</label>
						<div class="layui-input-inline">
							<input type="text" id="title" name="title" autocomplete="off"
									placeholder="工作日" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">需求阶段</label>
						<div class="layui-input-inline">
							<input type="text" id="xqsTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="xqeTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">UI设计阶段</label>
						<div class="layui-input-inline">
							<input type="text" id="uisTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="uieTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">前端制作阶段</label>
						<div class="layui-input-inline">
							<input type="text" id="qdsTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="qdeTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">技术开发阶段</label>
						<div class="layui-input-inline">
							<input type="text" id="jssTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="jseTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">UAT测试阶段</label>
						<div class="layui-input-inline">
							<input type="text" id="cssTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="cseTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 85px;">项目部署时间</label>
						<div class="layui-input-inline">
							<input type="text" id="bssTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
						<label class="layui-form-label" style="text-align: center;">———</label>
						<div class="layui-input-inline">
							<input type="text" id="bseTime" name="title" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
					</div>
					
					
					<div class="layui-form-item" style="margin-left: 350px;margin-top: 30px;margin-bottom: 50px">
						<div class="layui-input-block">
							<button class="layui-btn" id="save" lay-submit="" lay-filter="save">提交</button>
						</div>
					</div>
				</form>
			</div>
			<!-- tab2 -->
			<div class="layui-tab-item">内容2</div>
			<!-- tab3 -->
			<div class="layui-tab-item">内容3</div>
			<!-- tab4 -->
			<div class="layui-tab-item">内容4</div>
		</div>
	</div>
	
	
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script>
var laydate,createTime;
layui.use(['element','table','laydate'], function(){
  var $ = layui.jquery
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  
	//引用时间插件
	laydate = layui.laydate;
	laydate.render({
		elem : '#onlineTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#psTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#xqsTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#xqeTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	
	laydate.render({
		elem : '#qdsTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#qdeTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	
	laydate.render({
		elem : '#jssTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#jseTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	
	laydate.render({
		elem : '#cssTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#cseTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	
	laydate.render({
		elem : '#bssTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
	laydate.render({
		elem : '#bseTime',
		done : function(value,date){
			//当时间值变换时，触发该事件
			createTime = value;
		}
	});
	
  
});
</script>
</body>
</html>